<div id="viewPartyHallHomeBody" [ngClass]="{ blur: showDeletePopup }">
    <div class="main-head">
      <h1>Party Hall Details</h1>
    </div>
    <div *ngIf="partyHalls.length > 0; else noRecordsFound">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Hall Name</th>
              <th>Description</th>
              <th>Hall Image</th>
              <th>Availability Status</th>
              <th>Location</th>
              <th>Capacity</th>
              <th>Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let partyHall of partyHalls; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <span *ngIf="!isEditing || partyHall !== selectedPartyHall">{{ partyHall.hallName }}</span>
                <input *ngIf="isEditing && partyHall === selectedPartyHall" [(ngModel)]="partyHall.hallName" />
              </td>
              <td>
                <span *ngIf="!isEditing || partyHall !== selectedPartyHall">{{ partyHall.description }}</span>
                <textarea *ngIf="isEditing && partyHall === selectedPartyHall" [(ngModel)]="partyHall.description"></textarea>
              </td>
              <td>
                <img [src]="partyHall.hallImageUrl" alt="Hall Image" class="hall-image" />
                <input *ngIf="isEditing && partyHall === selectedPartyHall" type="file" (change)="handleFileChange($event)" accept=".png, .jpg" />
              </td>
              <td>
                <span *ngIf="!isEditing || partyHall !== selectedPartyHall">{{ partyHall.hallAvailableStatus }}</span>
                <select *ngIf="isEditing && partyHall === selectedPartyHall" [(ngModel)]="partyHall.hallAvailableStatus">
                  <option value="" disabled selected>Select Availability</option>
                  <option value="Available">Available</option>
                  <option value="Unavailable">Unavailable</option>
                </select>
              </td>
              <td>
                <span *ngIf="!isEditing || partyHall !== selectedPartyHall">{{ partyHall.hallLocation }}</span>
                <textarea *ngIf="isEditing && partyHall === selectedPartyHall" [(ngModel)]="partyHall.hallLocation"></textarea>
              </td>
              <td>
                <span *ngIf="!isEditing || partyHall !== selectedPartyHall">{{ partyHall.capacity }}</span>
                <input *ngIf="isEditing && partyHall === selectedPartyHall" [(ngModel)]="partyHall.capacity" type="number" />
              </td>
              <td>
                <span *ngIf="!isEditing || partyHall !== selectedPartyHall">{{ partyHall.price }}</span>
                <input *ngIf="isEditing && partyHall === selectedPartyHall" [(ngModel)]="partyHall.price" type="number" />
              </td>
              <td>
                <div class="buttons">
                    <button *ngIf="!isEditing || (isEditing && partyHall !== selectedPartyHall)" class="edit-btn-grad btn-primary" (click)=" editPartyHall(partyHall)">Edit</button>
                    <button *ngIf="isEditing && partyHall === selectedPartyHall" class="save-btn-grad btn-primary" (click)="updatePartyHall(partyHall)">Save</button>
                  <button *ngIf="isEditing && partyHall === selectedPartyHall" class="cancel-btn-grad btn-primary" (click)="cancelEdit()">Cancel</button>
                  <button *ngIf="!isEditing || (isEditing && partyHall !== selectedPartyHall)" class="delete-btn-grad btn-danger" (click)="showDeletePopup = true; selectedPartyHall = partyHall">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noRecordsFound>
      <p class="records">No data found</p>
    </ng-template>
  </div>
  <div *ngIf="showDeletePopup" class="delete-popup">
    <p>Are you sure you want to delete?</p>
    <button (click)="deletePartyHall(selectedPartyHall.partyHallId); showDeletePopup = false" id="delete-btn">Yes, Delete</button>
    <button (click)="showDeletePopup = false">Cancel</button>
  </div>
  