<div class="college-form-container" [class.blur]="successPopup">
  <button type="button" id="backButton" (click)="navigateToDashboard()">
    Back
  </button>
  <h2>Edit College</h2>
  <hr>
  <form #collegeForm="ngForm" (ngSubmit)="handleUpdateCollege(collegeForm)">
    <label for="CollegeName">College Name<span class="required">*</span></label>
    <input
      id="CollegeName"
      type="text"
      name="CollegeName"
      [(ngModel)]="formData.CollegeName"
      placeholder="College Name"
      required
      #CollegeName="ngModel"
      (change)="handleChange($event, 'CollegeName')"
    />
    <div class="error" *ngIf="CollegeName.invalid && CollegeName.touched">
      *College Name is required
    </div>

    <label for="Location">Location<span class="required">*</span></label>
    <input
      id="Location"
      type="text"
      name="Location"
      [(ngModel)]="formData.Location"
      placeholder="Location"
      required
      #Location="ngModel"
      (change)="handleChange($event, 'Location')"
    />
    <div class="error" *ngIf="Location.invalid && Location.touched">
      *Location is required
    </div>

    <label for="Description">Description</label>
    <input
      id="Description"
      type="text"
      name="Description"
      [(ngModel)]="formData.Description"
      placeholder="Description"
      #Description="ngModel"
      (change)="handleChange($event, 'Description')"
    />

    <label for="Website">Website</label>
    <input
      id="Website"
      type="text"
      name="Website"
      [(ngModel)]="formData.Website"
      placeholder="Website"
      #Website="ngModel"
      (change)="handleChange($event, 'Website')"
    />

    <div *ngIf="errorMessage" class="error">
      *{{ errorMessage }}
    </div>

    <button type="submit">Update College</button>
  </form>
</div>
<div class="success-popup" *ngIf="successPopup">
  <p>Updated successfully</p>
  <button type="button" (click)="handleOkClick()">OK</button>
</div>
