<table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Series</th>
        <th>Publisher</th>
        <th>Genre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comic of comics">
        <td>{{ comic.title }}</td>
        <td>{{ comic.author }}</td>
        <td>{{ comic.series }}</td>
        <td>{{ comic.publisher }}</td>
        <td>{{ comic.genre }}</td>
        <td>
          <button (click)="editComic(comic.id)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  