<nav>
    <ul class="nav-links">
      <ng-container *ngIf="isLoggedIn">
        <li *ngIf="isAdmin">
          <a routerLinkActive="active">Project</a>
          <ul class="sub-menu">
            <li><a routerLink="manager/add/project">Add Project</a></li>
            <li><a routerLink="manager/view/project">View Project</a></li>
          </ul>
        </li>
        <li *ngIf="isAdmin"><a routerLink="manager/view/requirement">Requirements</a></li>
        <!-- <li *ngIf="isAdmin"><a routerLink="admin/view/requestedloan">Loan Requested</a></li> -->
        <li *ngIf="isAdmin"><a routerLink="manager/view/feedback">Feedbacks</a></li>
      </ng-container>
    </ul>
  </nav>
  