@model dotnetapp.Models.Attendee

<h2>Enrollment Confirmation</h2>

<p>You have successfully enrolled in the class:</p>
<p>Class Name: @Model.Class.ExperienceName</p>
<p>Start Time: @Model.Class.StartTime</p>
<p>End Time: @Model.Class.EndTime</p>

<a id="backButton" asp-controller="Class" asp-action="AvailableClasses" class="btn btn-primary">Back to available classes</a>
