@model dotnetapp.Models.Attendee

<h1>VR Experience Enrollment</h1>

<form asp-controller="Booking" asp-action="ExperienceEnrollmentForm" method="post" class="mb-4">
    <input type="hidden" asp-for="VRExperienceID" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name">Name:</label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email">Email:</label>
            <input type="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="PhoneNumber">Phone Number:</label>
            <input type="text" asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enroll</button>
        <a asp-controller="VRExperience" id = "backtoexperiences" asp-action="AvailableExperiences" class="btn btn-secondary">Back to Available Experiences</a>
</form>
