<div>
  <div class="college-form-container" [ngClass]="{ blur: successPopup }">
    <h2>Create New College</h2>
    <hr>
    <form #collegeForm="ngForm" (ngSubmit)="onSubmit(collegeForm)">
      <label for="CollegeName">College Name<span class="required">*</span></label>
      <input
        type="text"
        name="CollegeName"
        [(ngModel)]="formData.CollegeName"
        placeholder="College Name"
        required
        #CollegeName="ngModel"
        (change)="handleChange($event, 'CollegeName')"
      />
      <div class="error" *ngIf="CollegeName.invalid && CollegeName.touched">
        *College Name is required
      </div>

      <label for="Location">Location<span class="required">*</span></label>
      <input
        type="text"
        name="Location"
        [(ngModel)]="formData.Location"
        placeholder="Location"
        required
        #Location="ngModel"
        (change)="handleChange($event, 'Location')"
      />
      <div class="error" *ngIf="Location.invalid && Location.touched">
        *Location is required
      </div>

      <label for="Description">Description<span class="required">*</span></label>
      <input
        type="text"
        name="Description"
        [(ngModel)]="formData.Description"
        placeholder="Description"
        required
        #Description="ngModel"
        (change)="handleChange($event, 'Description')"
      />
      <div class="error" *ngIf="Description.invalid && Description.touched">
        *Description is required
      </div>


      <label for="Website">Website<span class="required">*</span></label>
      <input
        type="text"
        name="Website"
        [(ngModel)]="formData.Website"
        placeholder="Website"
        required
        #Website="ngModel"
        (change)="handleChange($event, 'Website')"
      />
      <div class="error" *ngIf="Website.invalid && Website.touched">
        *Website is required
      </div>

      <div *ngIf="errorMessage" class="error">
        *{{ errorMessage }}
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>

  <div *ngIf="successPopup" class="success-popup">
    <p>Successfully Added!</p>
    <button (click)="handleSuccessMessage()">Ok</button>
  </div>
</div>
