<nav>
  <ul class="nav-links">
    <ng-container *ngIf="isLoggedIn">
      <li *ngIf="isAdmin">
        <a routerLinkActive="active">Workout</a>
        <ul class="sub-menu">
          <li><a routerLink="/admin/add/workout">Add Workout</a></li>
          <li><a routerLink="/admin/view/workout">View Workout</a></li>
        </ul>
      </li>
      <li *ngIf="isAdmin"><a routerLink="admin/view/requestedworkout">Workout Requested</a></li>
      <li *ngIf="isAdmin"><a routerLink="admin/view/feedback">Feedbacks</a></li>
    </ng-container>
  </ul>
</nav>
