<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Expertise</th>
      <th>Style Signature</th>
      <th>Availability</th>
      <th>Hourly Rate</th>
      <th>Location</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stylist of stylists">
      <td>{{ stylist.name }}</td>
      <td>{{ stylist.expertise }}</td>
      <td>{{ stylist.styleSignature }}</td>
      <td>{{ stylist.availability }}</td>
      <td>{{ stylist.hourlyRate | currency }}</td>
      <td>{{ stylist.location }}</td>
      <td>
        <button (click)="deleteStylist(stylist.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
