<div class="container">
    <h2>Menu List</h2>
  
    <div *ngIf="menus.length === 0" class="no-menu-message">
        No menu available.
    </div>
  
    <table *ngIf="menus.length > 0" class="menu-table">
        <thead>
            <tr>
                <th>Chef Name</th>
                <th>Menu Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let menu of menus" class="menu-item">
                <td>{{ menu.chefName }}</td>
                <td>{{ menu.menuName }}</td>
                <td>{{ menu.description }}</td>
                <td>{{ menu.price }}</td>
                <td>{{ menu.availability }}</td>

                <td>
                     <button id = "delete" class="delete-button" (click)="Delete(menu.menuId)">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
  </div>