<div>
    <div class="container" [ngClass]="{ blur: successPopup }">
      <h2 *ngIf="!isEditMode">Orphanage Creation Form</h2>
      <h2 *ngIf="isEditMode">Edit Orphanage</h2>
      <hr>
  
      <form [formGroup]="orphanageForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="orphanageName">Orphanage Name<span class="required">*</span></label>
          <input id="orphanageName" type="text" formControlName="orphanageName" />
          <div *ngIf="orphanageForm.controls['orphanageName']?.touched && orphanageForm.controls['orphanageName'].hasError('required')" class="error">
            *Orphanage Name is required
          </div>
        </div>
  
        <div>
          <label for="description">Description<span class="required">*</span></label>
          <textarea id="description" formControlName="description"></textarea>
          <div *ngIf="orphanageForm.controls['description']?.touched && orphanageForm.controls['description'].hasError('required')" class="error">
            *Description is required
          </div>
        </div>
  
        <div>
          <label for="founder">Founder<span class="required">*</span></label>
          <input id="founder" type="text" formControlName="founder" />
          <div *ngIf="orphanageForm.controls['founder']?.touched && orphanageForm.controls['founder'].hasError('required')" class="error">
            *Founder is required
          </div>
        </div>
  
        <!-- Status Dropdown -->
        <div>
          <label for="status">Status<span class="required">*</span></label>
          <select id="status" formControlName="status">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
          <div *ngIf="orphanageForm.controls['status']?.touched && orphanageForm.controls['status'].hasError('required')" class="error">
            *Status is required
          </div>
        </div>
  
        <div *ngIf="errorMessage" class="error">
          *{{ errorMessage }}
        </div>
  
        <div>
          <button type="submit" class="submit-button">{{ isEditMode ? 'Update' : 'Submit' }}</button>
        </div>
      </form>
    </div>
    <div *ngIf="successPopup" class="success-popup">
      <p>{{ isEditMode ? 'Updated successfully!' : 'Successfully added!' }}</p>
      <button (click)="handleSuccessMessage()">Ok</button>
    </div>
  </div>
  