<div class="page-content" [ngClass]="{ blur: showModal }">
  <h1>College Application Requests for Approval</h1>
  <hr>
  <div class="top-container">
    <input
      id="searchBox"
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchValue"
      (input)="handleSearchChange($event)"
    />
    <label id="filter">
      Filter by Status:
      <select [(ngModel)]="statusFilter" (change)="handleFilterChange($event)">
        <option value="-1">All</option>
        <option value="Pending">Pending</option>
        <option value="Approved">Approved</option>
        <option value="Rejected">Rejected</option>
      </select>
    </label>
  </div>
  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th>Username</th>
        <th>College Name</th>
        <th>Degree Name</th>
        <th>Submission Date</th>
        <th>Twelfth Percentage</th>
        <th>Previous College</th>
        <th>Previous College CGPA</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="filteredApplications.length > 0; else noRecords">
      <tr *ngFor="let application of filteredApplications; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ application.User.Username }}</td>
        <td>{{ application.College.CollegeName }}</td>
        <td>{{ application.DegreeName }}</td>
        <td>{{ application.CreatedAt | date: 'yyyy-MM-dd' }}</td>
        <td>{{ application.TwelfthPercentage }}</td>
        <td>{{ application.PreviousCollege }}</td>
        <td>{{ application.PreviousCollegeCGPA }}</td>
        <td>{{ application.Status }}</td>
        <td>
          <button (click)="handleRowExpand(i)">Show More</button>
          <button
            id="greenButton"
            *ngIf="application.Status === 'Pending' || application.Status === 'Rejected'"
            (click)="handleApprove(application)"
          >
            Approve
          </button>
          <button
            id="redButton"
            *ngIf="application.Status === 'Pending' || application.Status === 'Approved'"
            (click)="handleReject(application)"
          >
            Reject
          </button>
        </td>
      </tr>
    </tbody>
    <ng-template #noRecords>
      <tr>
        <td colspan="10" class="no-records-cell">Oops! No records Found</td>
      </tr>
    </ng-template>
  </table>
</div>

<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content">
    <button id="cross" (click)="closeApplicationDetailsModal()">X</button>
    <div class="application-details">
      <h2>Application Details</h2>
      <div><b>College Description:</b> {{ selectedApplication?.College.Description }}</div>
      <div><b>Location:</b> {{ selectedApplication?.College.Location }}</div>
      <div><b>Website:</b> <a [href]="selectedApplication?.College.Website" target="_blank">{{ selectedApplication?.College.Website }}</a></div>
    </div>
  </div>
</div>
