<div class="container">
  <h1>CareHaven</h1>
  <p>
    CareHaven facilitates seamless interaction between orphanages and compassionate individuals, ensuring that essential resources reach children in need. Through its intuitive interface, CareHaven empowers users to contribute to the well-being and future of orphaned children worldwide. By fostering collaboration between donors, volunteers, and orphanage administrators, CareHaven cultivates a community-driven approach to making a lasting impact on the lives of vulnerable children.


</div>
