<button (click)="sortByDescending()">Sort by Age in Descending</button>&nbsp;
<button (click)="resetOrder()">Reset Order</button>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Specialization</th>
        <th>Department</th>
        <th>Contact Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctors">
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.age }}</td>
        <td>{{ doctor.specialization }}</td>
        <td>{{ doctor.department }}</td>
        <td>{{ doctor.contactNumber }}</td>
        
        <td>
          <button (click)="editDoctor(doctor.id)">Edit</button>
          <button (click)="deleteDoctor(doctor.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

