<div class="container">
    <h2>Tutor List</h2>
  
    <div *ngIf="tutors.length === 0" class="no-tutors-message">
        No tutors available.
    </div>
  
    <table *ngIf="tutors.length > 0" class="tutor-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Subjects Offered</th>
                <th>Contact Number</th>
                <th>Availability</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tutor of tutors" class="tutor-item">
                <td>{{ tutor.name }}</td>
                <td>{{ tutor.email }}</td>
                <td>{{ tutor.subjectsOffered }}</td>
                <td>{{ tutor.contactNumber }}</td>
                <td>{{ tutor.availability }}</td>

                <td>
                     <button id = "delete" class="delete-button" (click)="Delete(tutor.tutorId)">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
  </div>