@model dotnetapp.Models.MovieReview

<h2>Review Confirmation</h2>

<p>Your review for the movie:</p>
<p>Movie Title: @Model.Movie.Title</p>
<p>Review: @Model.ReviewText</p>
<p>Rating: @Model.Rating</p>

<a id="backButton" asp-controller="Movie" asp-action="AvailableMovies" class="btn btn-primary">Back to available movies</a>
