<nav>
    <ul class="nav-links">
      <ng-container *ngIf="isLoggedIn">
        <li *ngIf="isCustomer">
          <a routerLinkActive="active">Requirement</a>
          <ul class="sub-menu">
            <li><a routerLink="analyst/add/requirement">Add Requirement</a></li>
            <li><a routerLink="analyst/view/requirement">My Requirement</a></li>
          </ul>
        </li>
        <li><a routerLink="analyst/view/project" *ngIf="isCustomer">Projects</a></li>
        <li *ngIf="isCustomer">
          <a routerLinkActive="active">Feedback</a>
          <ul class="sub-menu">
            <li><a routerLink="/analyst/add/feedback">Post Feedback</a></li>
            <li><a routerLink="/analyst/view/feedback">My Feedbacks</a></li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nav>
  
  