<div id="parent">
  <div id="collegeBody" [ngClass]="{ blur: showDeletePopup }">
    <h1>Colleges</h1>
    <hr>
    <div class="top-container">
      <input
        id="searchBox"
        type="text"
        placeholder="Search..."
        [(ngModel)]="searchField"
        (ngModelChange)="handleSearchChange($event)"
      />
    </div>

    <table class="plan-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>College Name</th>
          <th>Location</th>
          <th>Description</th>
          <th>Website</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="status === 'loading'">
        <tr>
          <td colspan="6">Loading...</td>
        </tr>
      </tbody>
      <tbody *ngIf="status === 'error'">
        <tr>
          <td>Error loading data</td>
        </tr>
      </tbody>
      <tbody *ngIf="availableColleges.length > 0; else noRecords">
        <tr *ngFor="let college of availableColleges, let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ college.CollegeName }}</td>
          <td>{{ college.Location }}</td>
          <td>{{ college.Description }}</td>
          <td>{{ college.Website }}</td>
          <td>
            <button (click)="navigateToEditCollege(college.CollegeId)">Edit</button>
            <button (click)="handleDeleteClick(college.CollegeId)" id="deleteButton">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
      <ng-template #noRecords>
        <tbody *ngIf="status !== 'loading'">
          <tr>
            <td colspan="6" class="no-records-cell">Oops! No records Found</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>

  <div *ngIf="showDeletePopup" class="delete-popup">
    <p>Are you sure you want to delete?</p>
    <button (click)="handleConfirmDelete()" id="delete-btn">Yes, Delete</button>
    <button (click)="closeDeletePopup()">Cancel</button>
    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>
</div>
