<div>
    <div id="parent">
      <h1>All Project Requirements</h1>
      <hr>
  
      <!-- Search Box -->
      <div class="top-container">
        <input
          id="searchBox"
          type="text"
          placeholder="Search..."
          [(ngModel)]="searchField"
          (ngModelChange)="handleSearchChange($event)"
        />
      </div>
  
      <!-- Requirements Table -->
      <table class="requirement-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Requirement Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngIf="filteredRequirements.length; else noRecords">
          <tr *ngFor="let requirement of filteredRequirements; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ requirement.RequirementTitle }}</td>
            <td>{{ requirement.RequirementDescription }}</td>
            <td>{{ requirement.Status }}</td>
            <td>
              <ng-container *ngIf="requirement.Status === 'Pending'">
                <button class="greenButton" (click)="handleStatusChange(requirement, 'Approved')">Approve</button>
                <button class="redButton"  (click)="handleStatusChange(requirement, 'Rejected')">Reject</button>
              </ng-container>
              <ng-container *ngIf="requirement.Status == 'Approved'">
                <button class="redButton" (click)="handleStatusChange(requirement, 'Rejected')">Reject</button>
              </ng-container>
              <ng-container *ngIf="requirement.Status === 'Rejected'">
                <button class="greenButton" (click)="handleStatusChange(requirement, 'Approved')">Approve</button>
              </ng-container>
            </td>
          </tr>
        </tbody>
        <ng-template #noRecords>
          <tbody>
            <tr>
              <td colSpan="5" class="no-records-cell">Oops! No records found</td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>
  </div>
  