<form (submit)="addMenu()">
    <div>
        <label for="chefname">Chef Name:</label>
        <input type="text" id="chefname" [(ngModel)]="newMenu.chefname" name="chefname" required>
        <div *ngIf="isFieldInvalid('chefname')" class="error-message">Chef Name is required</div>
    </div>
    <div>
        <label for="menuName">Menu Name:</label>
        <input type="menuName" id="menuName" [(ngModel)]="newMenu.menuName" name="menuName" required>
        <div *ngIf="isFieldInvalid('menuName')" class="error-message">Menu Name is required</div>
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" [(ngModel)]="newMenu.description" name="description" required>
        <div *ngIf="isFieldInvalid('description')" class="error-message">Description are required</div>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="tel" id="price" [(ngModel)]="newMenu.price" name="price" required>
        <div *ngIf="isFieldInvalid('price')" class="error-message">Price is required</div>
    </div>
    <div>
        <label for="availability">Availability:</label>
        <input type="text" id="availability" [(ngModel)]="newMenu.availability" name="availability" required>
        <div *ngIf="isFieldInvalid('availability')" class="error-message">Availability is required</div>
    </div>
    <button type="submit">Add Menu</button>
</form>
