<!-- delete-confirm.component.html -->

<div class="container" *ngIf="tutor">
  <h2>Delete Confirmation</h2>
  <div class="confirmation-message">
    <p>Are you sure you want to delete this tutor?</p>
    <p>Name: {{ tutor.name }}</p>
    <p>Email: {{ tutor.email }}</p>
    <p>SubjectsOffered: {{ tutor.subjectsOffered }}</p>
    <p>ContactNumber: {{ tutor.contactNumber }}</p>
    <p>Availability: {{ tutor.availability }}</p>
    <!-- You can display other relevant information about the tutor here -->
  </div>
  <div class="form-buttons">
    <button type="button" class="confirm-button" (click)="confirmDelete(tutorId)">Confirm Delete</button>
    <button type="button" class="cancel-button" (click)="cancelDelete()">Cancel</button>
  </div>
</div>
