<form [formGroup]="doctorForm" (ngSubmit)="addDoctor()">
    <table>
      <tr>
        <td>Doctor Name :</td>
        <td><input class="form-control" type="text" placeholder="Enter Name" formControlName="name"></td>
      </tr>
      <tr>
        <td>Doctor Age :</td>
        <td>
          <input class="form-control" type="number" placeholder="Enter age" formControlName="age">
          <div *ngIf="doctorForm.get('age').hasError('min') && doctorForm.get('age').touched">
            Age should be more than 25 years.
          </div>
          <div *ngIf="doctorForm.get('age').hasError('max') && doctorForm.get('age').touched">
            Age should be less than 70 years.
          </div>
        </td>
      </tr>
      <tr>
        <td>Specialization :</td>
        <td><input class="form-control" type="text" placeholder="Enter specialization" formControlName="specialization"></td>
      </tr>
      <tr>
        <td>Department :</td>
        <td><input class="form-control" type="text" placeholder="Enter department" formControlName="department"></td>
      </tr>
      <tr>
        <td>Contact Number :</td>
        <td>
          <input class="form-control" type="text" placeholder="Enter contact number" formControlName="contactNumber">
          <div *ngIf="doctorForm.get('contactNumber').hasError('pattern') && doctorForm.get('contactNumber').touched">
            Contact number must be 10 digits.
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-danger" type="submit" [disabled]="doctorForm.invalid">Add Doctor</button>
        </td>
      </tr>
    </table>
  </form>
  