@model dotnetapp.Models.Participant

<h2>Enrollment Confirmation</h2>

<p>You have successfully enrolled in the tour:</p>
<p>Tour Name: @Model.HistoricalTour.TourName</p>
<p>Start Time: @Model.HistoricalTour.StartTime</p>
<p>End Time: @Model.HistoricalTour.EndTime</p>

<a id="backButton" asp-controller="HistoricalTour" asp-action="AvailableTours" class="btn btn-primary">Back to available tours</a>
