<form (submit)="addEvent()">
    <div>
        <label for="playlistName">Event Name:</label>
        <input type="text" id="playlistName" [(ngModel)]="newEvent.playlistName" name="playlistName" required>
        <div *ngIf="isFieldInvalid('playlistName')" class="error-message">Event Name is required</div>
    </div>
    <div>
        <label for="songName">Event Description:</label>
        <input type="text" id="songName" [(ngModel)]="newEvent.songName" name="songName" required>
        <div *ngIf="isFieldInvalid('songName')" class="error-message">Event Description is required</div>
    </div>
    <div>
        <label for="yearOfRelease">Event Date:</label>
        <input type="text" id="yearOfRelease" [(ngModel)]="newEvent.yearOfRelease" name="yearOfRelease" required>
        <div *ngIf="isFieldInvalid('yearOfRelease')" class="error-message">Event Date is required</div>
    </div>
    <div>
        <label for="artistName">Event Time:</label>
        <input type="text" id="artistName" [(ngModel)]="newEvent.artistName" name="artistName" required>
        <div *ngIf="isFieldInvalid('artistName')" class="error-message">Event Time is required</div>
    </div>
    <div>
        <label for="genre">Event Location:</label>
        <input type="text" id="genre" [(ngModel)]="newEvent.genre" name="genre" required>
        <div *ngIf="isFieldInvalid('genre')" class="error-message">Event Location is required</div>
    </div>
    <div>
        <label for="MovieName">Event Organizer:</label>
        <input type="text" id="MovieName" [(ngModel)]="newEvent.MovieName" name="MovieName" required>
        <div *ngIf="isFieldInvalid('MovieName')" class="error-message">Event Organizer is required</div>
    </div>
    <button type="submit">Add Event</button>
</form>
