<div class="feedback-form">
  <h2>Passenger Feedback</h2>
  <form (ngSubmit)="submitFeedback()" #feedbackForm="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="passengerName" name="passengerName" required>
    </div>
    <div class="form-group">
      <label for="rating">Rating:</label>
      <input type="number" id="rating" [(ngModel)]="rating" name="rating" min="1" max="5" required>
    </div>
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea id="comment" [(ngModel)]="comment" name="comment" required></textarea>
    </div>
    <button type="submit" class="leave-feedback-button" [disabled]="!feedbackForm.form.valid">Leave Feedback</button>
  </form>
</div>

<div class="feedback-list">
  <div *ngFor="let feedback of feedbackList" class="feedback-item">
    <h3>Passenger: {{ feedback.passengerName }}</h3>
    <p class="rating">Rating: {{ feedback.rating }}</p>
    <p>Comment: {{ feedback.comment }}</p>
  </div>
</div>
