<div class="container" *ngIf="event">
  <h2>Delete Confirmation</h2>
  <div class="confirmation-message">
    <p>Are you sure you want to delete this event?</p>
    <p>Playlist Name: {{ event.playlistName }}</p>
    <p>Description: {{ event.songName }}</p>
    <p>Date: {{ event.yearOfRelease }}</p>
    <p>Time: {{ event.artistName }}</p>
    <p>Location: {{ event.genre }}</p>
    <p>Organizer: {{ event.MovieName }}</p>
  </div>
  <div class="form-buttons">
    <button type="button" id="confirm" class="confirm-button" (click)="confirmDelete(playlistId)">Confirm Delete</button>
    <button type="button" id="cancel" class="cancel-button" (click)="cancelDelete()">Cancel</button>
  </div>
</div>
