<div class="container">
  <h1>Fitness-Tracker</h1>
  <p>
    Fitness-Tracker is a comprehensive digital platform designed for individuals committed to achieving their fitness goals. At the core of the platform is an extensive array of workout plans, each detailed with descriptions, targeted muscle groups, difficulty levels, and structured schedules. This rich information empowers users to make informed choices, ensuring that their selected workout plan aligns perfectly with their fitness objectives and physical capabilities. Fitness-Tracker is tailored to meet the diverse needs of its users, providing a seamless and user-friendly experience for creating personalized workout plans to enhance their health and fitness journey.
  </p>
</div>
