<div id="orphanageHomeBody" [ngClass]="{ blur: showDonationPopup }">
    <h1>Orphanages</h1>
    <hr>

    <table class="loan-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Orphanage Name</th>
          <th>Description</th>
          <th>Founder</th>
          <th>Establishment Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="status === 'loading'">
        <tr>
          <td colspan="7">Loading...</td>
        </tr>
      </tbody>
      <tbody *ngIf="status === 'error'">
        <tr>
          <td colspan="7">Error loading data</td>
        </tr>
      </tbody>
      <tbody *ngIf="availableOrphanages.length > 0; else noRecords">
        <tr *ngFor="let orphanage of availableOrphanages; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ orphanage.OrphanageName }}</td>
          <td>{{ orphanage.Description }}</td>
          <td>{{ orphanage.Founder }}</td>
          <td>{{ orphanage.EstablishmentDate | date }}</td>
          <td>{{ orphanage.Status }}</td>
          <td>
            <button [class.inactive]="orphanage.Status !== 'Active'" [disabled]="orphanage.Status !== 'Active'" (click)="openDonationPopup(orphanage.OrphanageId)" id="donateButton">Donate</button>
          </td>
        </tr>
      </tbody>
      <ng-template #noRecords>
        <tr>
          <td colspan="7" class="no-records-cell">Oops! No records Found</td>
        </tr>
      </ng-template>
    </table>
  </div>

  <div *ngIf="showDonationPopup" class="donation-popup">
    <h3>Donate to Orphanage</h3>
    <label for="donationAmount">Donation Amount:</label>
    <input type="number" id="donationAmount" [(ngModel)]="donationAmount" />
    <button class="green-button" (click)="handleAddDonation()">Donate</button>
    <button class="red-button" (click)="closeDonationPopup()">Close</button>
    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>
