<!-- edit-game.component.html -->
<div *ngIf="game">
    <h3>Edit Game</h3>
    <form (ngSubmit)="saveGame()">
      <label>
        Name:
        <input [(ngModel)]="game.title" name="title" required>
      </label>
      <label>
        Age:
        <input [(ngModel)]="game.releaseYear" name="releaseYear" type="number" required>
      </label>
      <label>
        Specialization:
        <input [(ngModel)]="game.genre" name="genre" required>
      </label>
      <label>
        Department:
        <input [(ngModel)]="game.developer" name="developer" required>
      </label>
      <label>
        Contact Number:
        <input [(ngModel)]="game.supportContact" name="supportContact" required>
      </label>
      <button type="submit">Save</button>
      <button type="button" (click)="cancel()">Cancel</button>
    </form>
  </div>
  