<div class="page-content" [ngClass]="{ blur: showModal }">
  <h1>Workout Requests for Approval</h1>
  <hr>
  <div class="top-container">
    <input
      id="searchBox"
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchValue"
      (input)="handleSearchChange($event)"
    />
    <label id="filter">
      Filter by Status:
      <select [(ngModel)]="statusFilter" (change)="handleFilterChange($event)">
        <option value="-1">All</option>
        <option value="Pending">Pending</option>
        <option value="Approved">Approved</option>
        <option value="Rejected">Rejected</option>
      </select>
    </label>
  </div>
  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th>Username</th>
        <th>Workout Name</th>
        <th>Submission Date</th>
        <th>Age</th>
        <th>BMI</th>
        <th>Gender</th>
        <th>Dietary Preferences</th>
        <th>Medical History</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="filteredWorkouts.length > 0; else noRecords">
      <tr *ngFor="let request of filteredWorkouts; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ request.User.Username }}</td>
        <td>{{ request.Workout.WorkoutName }}</td>
        <td>{{ request.RequestedDate | date: 'yyyy-MM-dd' }}</td>
        <td>{{ request.Age }}</td>
        <td>{{ request.BMI }}</td>
        <td>{{ request.Gender }}</td>
        <td>{{ request.DietaryPreferences }}</td>
        <td>{{ request.MedicalHistory }}</td>
        <td>{{ request.RequestStatus }}</td>
        <td>
          <button (click)="handleRowExpand(i)">Show More</button>
          <button
            id="greenButton"
            *ngIf="request.RequestStatus === 'Pending' || request.RequestStatus === 'Rejected'"
            (click)="handleApprove(request)"
          >
            Approve
          </button>
          <button
            id="redButton"
            *ngIf="request.RequestStatus === 'Pending' || request.RequestStatus === 'Approved'"
            (click)="handleReject(request)"
          >
            Reject
          </button>
        </td>
      </tr>
    </tbody>
    <ng-template #noRecords>
      <tr>
        <td colspan="11" class="no-records-cell">Oops! No records Found</td>
      </tr>
    </ng-template>
  </table>
</div>

<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content">
    <button id="cross" (click)="closeWorkoutDetailsModal()">X</button>
    <div class="workout-details">
      <h2>Workout Details</h2>
      <div><b>Workout Description:</b> {{ selectedWorkout?.Workout.Description }}</div>
      <div><b>Target Area:</b> {{ selectedWorkout?.Workout.TargetArea }}</div>
      <div><b>Duration:</b> {{ selectedWorkout?.Workout.AverageWorkoutDurationInMinutes }} mins</div>
    </div>
  </div>
</div>
