<div style="text-align: center;">
  <input
    type="text"
    [(ngModel)]="developerName"
    class="form-control"
    placeholder="Enter developer name"
  />
  <button (click)="searchByDeveloper()">Search</button>
</div>

<!-- Display the count of games by the searched developer -->
<div *ngIf="developerName && developerGameCount > 0" style="text-align: center; margin-top: 10px;">
  <strong>{{ developerGameCount }} games found for developer "{{ developerName }}"</strong>
</div>
<div *ngIf="developerName && developerGameCount === 0" style="text-align: center; margin-top: 10px;">
  <strong>No games found for developer "{{ developerName }}"</strong>
</div>

<table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Release Year</th>
        <th>Genre</th>
        <th>Developer</th>
        <th>Support Contact</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>{{ game.title }}</td>
        <td>{{ game.releaseYear }}</td>
        <td>{{ game.genre }}</td>
        <td>{{ game.developer }}</td>
        <td>{{ game.supportcontact }}</td>
        
        <td>
          <button (click)="editGame(game.id)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

